.red{
  color: red;
}

.blue{
color: blue;
}

div{
  display: inline-block;
  width: 48%;
  height: 380px;
  background-color: red;
}

p{
  display: inline;
}
.Dodgerblue{
    color: dodgerblue;
}
  

.blue-txt {
  background: blue;
}